@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: YouTube Sans,
    Roboto,
    Noto Naskh Arabic UI,
    Arial,
    sans-serif;
    background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}


audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}

audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
}
